platformName='android'
platformVersion='9.0'
deviceName='Google Pixel 3'
app='bs://996a464c452bdd170de080d17def89d603d911ab'
remote_url='http://hub.browserstack.com/wd/hub'
browserstack.userName='dkfjhsfhalskjh'
browserstack.accessKey='kasjdhfksjkf'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'